body{
	margin: 0;
	background: #06070D;
	font-family: Arial;
	color: #ffffff;
}
header{
	background: #0F1624;
	padding: 10px 20px;
	z-index: 1000;
}
nav{
	display: flex;
	justify-content: space-betwwen;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}
.izquierda{
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
	min-width: 200px;
}
.logo{
	background: #6F7BFF;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-shrink: 0;
}
.izquierda h1{
	font-size: 1.5em;
}
.busqueda{
	flex: 1;
}
.busqueda input{
	width: 100%;
	background: #1F2A45;
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
	color: white;
	outline: none;
}
button{
	border: none;
	padding: 6px 12px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	color: white;
	font-size: 1.2em;
}
.azul{
	background: #6F7BFF;
}
.gris{
	background: #06070D;
}
.menu-btn{
	display: none;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	width: 25px;
	height: 25px;
	gap: 4px;
}
.menu-btn span{
	background: white;
	height: 3px;
	width: 100%;
	border-radius: 2px;
}
#menu-toggle{
	display: none;
}
.menu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(15, 22, 36, 0.6);
	backdrop-filter: blur(5px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.menu input{
	width: 80%;
	max-width: 300px;
	background: #1F2A45;
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
	color: white;
	outline: none;
}


.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 0.5s;
}

.hero-content h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.hero-content .title {
  color: #6f7bff;
  font-weight: bold;
}

.hero-content button {
  padding: 12px 24px;
  font-size: 1.5rem;
  font-family: 'SpaceGrotesk-Bold';
  border: none;
  border-radius: 10px;
  background-color: #6F7BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-content button:hover {
  color: #F4CD0B;
  background-color: #000010;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}

@media(max-width: 700px){
	.busqueda, .derecha{
		display: none
	}
	h1{
		flex: 1;
		text-align: center;
	}
	.menu-btn{
		display: flex;
	}
	#menu-toggle:checked ~ .menu{
		display: flex
	}
	.menu-btn{
		position: absolute;
		top: 15px;
		right: 20px;
		z-index: 20;
	}
	.hero-content h1 {
    		font-size: 40px;
  	}
}
